/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.large-4 {
  font-size: 1.25em;
}
.large-3 {
  font-size: 1.1em;
}
.large-2 {
  font-size: 1em;
}
.large-1 {
  font-size: 0.975em;
}
.large {
  font-size: 0.968em;
}
.medium {
  font-size: 0.95em;
}
.small-1 {
  font-size: 0.925em;
}
.small-2 {
  font-size: 0.9em;
}
.small-3 {
  font-size: 0.875em;
}
.small-4 {
  font-size: 0.85em;
}
.small-5 {
  font-size: 0.825em;
}
.small-6 {
  font-size: 0.8em;
}
.small-7 {
  font-size: 0.775em;
}
.small-8 {
  font-size: 0.75em;
}

.form-control {
  border-radius: var(--bs-border-radius-xl) !important;
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color) !important;
  padding: 0.4rem 1rem !important;
  box-shadow: none !important;
  font-size: 0.875rem;
  min-height: calc(1.5em + 0.5rem + calc(var(--bs-border-width) * 2));
}
.form-control:focus {
  box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075) !important;
  border-color: var(--bs-dark-color);
}

.form-select {
  border-radius: var(--bs-border-radius-xl) !important;
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color) !important;
  padding: 0.4rem 1rem !important;
  box-shadow: none !important;
  font-size: 0.875rem;
  min-height: calc(1.5em + 0.5rem + calc(var(--bs-border-width) * 2));
}
.form-select:focus {
  box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075) !important;
  border-color: var(--bs-dark-color);
}

.btn {
  border-radius: var(--bs-border-radius-xl);
  --bs-text-opacity: 1;
  padding: 0.4rem 1.3rem;
  box-shadow: none;
  font-size: 0.875rem;
  min-height: calc(1.5em + 0.5rem + calc(var(--bs-border-width) * 2));
}

.btn:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075) !important;
}

.category-nav .nav-link:hover {
  background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity)) !important;
  border-radius: 50px;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.category-nav .active {
  background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity)) !important;
  border-radius: 50px;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.dropdown .active {
  background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity)) !important;
  border-radius: 50px;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.dropdown .dropdown-item:hover {
  background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity)) !important;
  border-radius: 50px;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.post img {
  min-height: 200px;
  max-height: 275px;
  object-fit: cover;
}

.post:hover {
  box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.15) !important;
}

.page-link:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075) !important;
}

.gper-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: 50% 40%;
}

.widget-link:hover {
  background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity)) !important;
  border-radius: 50px;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.post-image {
  width: 100%;
  min-height: 275px;
  max-height: 345px;
  object-fit: cover;
}

.post-body,
.about {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.09em;
}

.share {
  margin-top: 11.6rem;
}

.share-link:hover {
  background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity)) !important;
  border-radius: 50px;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  padding: 5px;
}

.author-post-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 50% 40%;
}

.tag-link:hover {
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075) !important;
}

.about-gper-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  object-position: 50% 40%;
}

.contact-nav .nav-link:hover {
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  border-bottom: 1.5px solid rgba(var(--bs-dark-rgb));
  font-weight: 500;
}

.contact-nav .active {
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  border-bottom: 1.8px solid rgba(var(--bs-dark-rgb));
  font-weight: 456;
}

.my-form {
  width: 345px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Layar HP */
@media (max-width: 500px) {
  .post img {
    min-height: 200px;
    max-height: 250px;
    object-fit: cover;
  }
  .post-image {
    width: 100%;
    min-height: 200px;
    max-height: 250px;
    object-fit: cover;
  }
  .my-form {
    min-width: 90%;
  }
}
